html,
body {
    height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: Andika, Arial;
}

.button {
    cursor: pointer;

    &.install,
    &.toggle {
        float: right;
        margin: 24px 24px 0 0;
        border-radius: 100%;
    }
    &.toggle {
        width: 28px;
        text-align: center;

        &.active {
            background: #23bef9;
            box-shadow: 0 0 0 4px #23bef9;
            color: white;
        }
    }
    &.restart {
        margin: 24px 0 0 24px;
    }

    &.previous,
    &.next {
        position: absolute;
        bottom: 24px;
    }
    &.previous {
        display: none;
        left: 24px;
    }
    &.next {
        right: 24px;
    }
    &.install {
        display: none;
    }
}

div {
    display: flex;
    height: calc(100% - 200px);
    justify-content: center;
    align-items: center;
    text-align: center;

    span {
        display: block;
        font-size: 20em;
    }
    i {
        opacity: 0.2;
        cursor: pointer;
    }
}
